html, body, #map { width:100%; height:100%; margin:0; padding:0; z-index: 1; background: #000; }
.leaflet-control { user-select: none;}
.found { opacity: 25%; }
.hidden { visibility: hidden; }

path { opacity: 100%; fill-opacity: 100%; filter: brightness(100%) }
path.found { opacity: 20%; fill-opacity: 20%; filter: brightness(300%)}

path[alt=''] { opacity: 100% }

.leaflet-control-search .search-input {
  width: 230px;
  margin-right: 2px;
  border-radius: 4px;
}

.leaflet-control-search .search-tooltip {
  width: 285px;
  max-height: 207px;
  margin-top: 2px;
  
}

.leaflet-control-search .search-tip {
  margin: 1px;
}

.search-tip-select {
  background: #fff;
}

.leaflet-control-toolbar .leaflet-toolbar-1>li>.leaflet-toolbar-icon {
  //background-color:#f4f4f4;
  //color: #333;
}

.marker-popup-heading {
  background-color: lightblue;
  color: black;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.marker-popup-subheading {
  color: black;
  text-align: center;
  font-weight: bold;
}

.marker-popup-col {
  text-align: top;
  display: inline-block;
  width: 68px;
  font-weight: bold;
  vertical-align: top;
}

.marker-popup-col2 {
  display: inline-block;
  width: 232px;
  word-wrap: break-word;
  vertical-align: top;
}

.marker-popup-text {
  
}

.marker-popup-found {
  background-color: lightblue;
  color: black;
  text-align: center;
  font-weight: bold;
}
.marker-popup-footnote {
  font-size: .75em;
}

.marker-popup-debug {
  font-size: .75em;
  word-wrap: break-word;
}

/* Jumppad line drawing */
.line-jumppad {
  --arrow: tip;         /* Can be 'tip', 'mid', 'none' */
  --arrow-size: 5px;    /* Arrow head size, if not set no arrow drawn, only used for long one way lines */
  --arrow-angle: 45;    /* Angle arrow pointer will be drawn with */
  --arrow-dist: 100;    /* If line is shorter than this distance, don't draw arrow */
  --line-width: 5px;    /* Width of the basic line */
  --shadow-width: 3px;  /* Width of shadow border */
  --offset: 0px;       /* How far along line should first arrow appear, pixels also ok */
  --end-offset: 0px;    /* How far from end should last arrow appear */

  opacity: 100%;
  fill-opacity: 100%;
}
.line-jumppad.red {
  stroke: #000;
  fill: #f00;         /* inherited by arrow */
}
.line-jumppad.blue {
  stroke: #000;
  fill: #1E90FF;      /* inherited by arrow */
}

.line-pipe {
  --arrow: tip;
  --arrow-size: 3px;
  --arrow-angle: 45;
  --arrow-dist: 100;
  --line-width: 5px;
  --shadow-width: 3px;
  --offset: 0px;
  --end-offset: 16px;

  fill: #4DFF00;
  fill-opacity: 100%;
  stroke: #000;
  opacity: 100%;
}

.line-player_aim {
  --arrow: tip;
  --arrow-size: 5px;
  --arrow-angle: 40;
  --arrow-dist: 100;
  --line-width: 3px;
  --shadow-width: 0px;
  --offset: 0;
  --end-offset: 0;

  fill: #ffffff;
  fill-opacity: 100%;
  stroke: #000;
  opacity: 100%;
}

.line-trigger {
  --arrow: tip;
  --arrow-size: 5px;
  --arrow-angle: 40;
  --arrow-dist: 100;
  --line-width: 2px;
  --shadow-width: 0px;
  --offset: 0;
  --end-offset: 0px;

  fill: #FFF;
  fill-opacity: 100%;
  stroke: #000;
  opacity: 100%;
}
