html, body, #map { width:100%; height:100%; margin:0; padding:0; z-index: 1; background: #000; }
.leaflet-control { user-select: none;}
.found { opacity: 30%; }
.hidden { visibility: hidden; }

path { opacity: 50% }
path.found {opacity: 100%}

path[alt=''] { opacity: 100% }

.leaflet-control-search .search-input {
  width: 230px;
  border-radius: 45px;
}

.leaflet-control-search .search-tooltip {
  width: 285px;
  max-height: 207px;
  margin-top: 2px;
  
}

.leaflet-control-search .search-tip {
  margin: 1px;
}

.search-tip-select {
  background: #fff;
}

.leaflet-control-toolbar .leaflet-toolbar-1>li>.leaflet-toolbar-icon {
  //background-color:#f4f4f4;
  //color: #333;
}

.marker-popup-heading {
  background-color: lightblue;
  text-color: black;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.marker-popup-subheading {
  text-color: black;
  text-align: center;
  font-weight: bold;
}

.marker-popup-col {
  text-align: top;
  display: inline-block;
  width: 68px;
  font-weight: bold;
  vertical-align: top;
}

.marker-popup-col2 {
  display: inline-block;
  width: 150px;
  word-wrap: break-word;
  vertical-align: top;
}

.marker-popup-text {
  
}

.marker-popup-found {
  background-color: lightblue;
  text-color: black;
  text-align: center;
  font-weight: bold;
}
.marker-popup-footnote {
  font-size: .75em;
}

.marker-popup-debug {
  font-size: .75em;
  word-wrap: break-word;
}

.line-jumppad {
  stroke-width: 5;
}
.line-jumppad-shadow {
  stroke-width: 6;
}

.line-pipe {
  stroke-width: 5;
}
.line-pipe-shadow {
  stroke-width: 6;
}

.line-player_aim {
  stroke-width: 2;
}

.line-trigger {
  stroke-width: 5;
  opacity: 50%;
  fill-opacity: 50%;
}
