html, body, #map { width:100%; height:100%; margin:0; padding:0; z-index: 1; background: #000; }
.leaflet-control { user-select: none;}
.found { opacity: 30%; }
.hidden { visibility: hidden; }

path { filter: brightness(100%) }
path.found { filter: brightness(50%)}

path[alt=''] { opacity: 100% }

.leaflet-control-search .search-input {
  width: 230px;
  border-radius: 45px;
}

.leaflet-control-search .search-tooltip {
  width: 285px;
  max-height: 207px;
  margin-top: 2px;
  
}

.leaflet-control-search .search-tip {
  margin: 1px;
}

.search-tip-select {
  background: #fff;
}

.leaflet-control-toolbar .leaflet-toolbar-1>li>.leaflet-toolbar-icon {
  //background-color:#f4f4f4;
  //color: #333;
}

.marker-popup-heading {
  background-color: lightblue;
  text-color: black;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.marker-popup-subheading {
  text-color: black;
  text-align: center;
  font-weight: bold;
}

.marker-popup-col {
  text-align: top;
  display: inline-block;
  width: 68px;
  font-weight: bold;
  vertical-align: top;
}

.marker-popup-col2 {
  display: inline-block;
  width: 150px;
  word-wrap: break-word;
  vertical-align: top;
}

.marker-popup-text {
  
}

.marker-popup-found {
  background-color: lightblue;
  text-color: black;
  text-align: center;
  font-weight: bold;
}
.marker-popup-footnote {
  font-size: .75em;
}

.marker-popup-debug {
  font-size: .75em;
  word-wrap: break-word;
}

/* Jumppad line drawing */
.line-jumppad {
  --arrow-size: 10;     /* Arrow head size, if not set no arrow drawn, only used for long one way lines */
  --arrow-angle: 40;    /* Angle arrow pointer will be drawn with */
  --arrow-dist: 100;    /* If line is shorter than this distance, don't draw arrow */
  --line-width: 4;      /* Width of the basic line */
  --shadow-width: 2.5;  /* Width of shadow border */
  --offset: 100%;       /* How far along line should first arrow appear, pixels also ok */
  --end-offset: 0;      /* How far from end should last arrow appear */
  --repeat: 1;          /* How many arrows should be drawn? */

  stroke-width: var(--line-width);
}
.line-jumppad.red {
  stroke: #F00;
  fill: #f00;         /* inherited by arrow */
}
.line-jumppad.blue {
  stroke: #1E90FF;
  fill: #1E90FF;      /* inherited by arrow */
}
.line-jumppad.shadow {
  stroke:#000;
  fill: #000;       /* inherited by shadow arrow */
  stroke-width: calc(var(--shadow-width)*2 + var(--line-width));
}
.line-jumppad.red.arrow {
}
.line-jumppad.blue.arrow {
}
.line-jumppad.arrow.shadow {
  stroke: #000;
  fill: #000;
  stroke-width: calc(var(--shadow-width) * 2 + var(--line-width));
}

.line-pipe {
  --arrow-size: 5;
  --arrow-angle: 40;
  --arrow-dist: 100;
  --line-width: 4;
  --shadow-width: 2.5;
  --offset: 100%;
  --end-offset: 0;
  --repeat: 1;

  stroke-width: var(--line-width);
  stroke: #4DFF00;
  fill: #000;
  opacity: 100%;
  fill-opacity: 100%;
}
.line-pipe.shadow {
  stroke:#000;
  fill: #000;
  stroke-width: calc(var(--shadow-width)*2 + var(--line-width));
}
.line-pipe.arrow {
}
.line-pipe.arrow.shadow {
  stroke: #000;
  fill: #000;
  stroke-width: calc(var(--shadow-width)*2 + var(--line-width));
}


.line-player_aim {
  --arrow-size: 5;
  --arrow-angle: 40;
  --arrow-dist: 100;
  --line-width: 3;
  --shadow-width: 0;
  --offset: 100%;
  --end-offset: 0;
  --repeat: 1;

  stroke-width: calc(var(--shadow-width) * 2 + var(--line-width));
  stroke: #fff;
  fill: #000;
  opacity: 100%;
  fill-opacity: 100%;
}
/* .line-player_aim.shadow {
  stroke:#000;
  stroke-width: calc(var(--shadow-width)*2 + var(--line-width));
}
.line-player_aim.arrow {
}
.line-player_aim.arrow.shadow {
  stroke: #000;
  stroke-width: calc(var(--shadow-width)*2 + var(--line-width));
}*/


.line-trigger {
  --arrow-size: 5;
  --arrow-angle: 40;
  --arrow-dist: 100;
  --line-width: 2;
  --shadow-width: 0;
  --offset: 100%;
  --end-offset: 0;
  --repeat: 1;

  stroke-width: calc(var(--shadow-width) * 2 + var(--line-width));
  stroke: #fff;
  fill: #000;
  opacity: 100%;
  fill-opacity: 100%;
}
/* .line-trigger.shadow {
  stroke:#000;
  stroke-width: calc(var(--shadow-width)*2 + var(--line-width));
}
.line-trigger.arrow {
}
.line-trigger.arrow.shadow {
  stroke: #000;
  stroke-width: calc(var(--shadow-width)*2 + var(--line-width));
}*/

