# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Libraries installed for python and default virtual environments
site-packages/
.venv*

# Binary and intermediate files from VS projects amongst others
bin/
obj/

# Editor directories and files
.vscode/*
.vs
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
