# This prevents lock filesfrom displaying in Github diffs by default. These are machine-generated and typically
# just add noise to PR reviews, so we hide them.
package-lock.json linguist-generated=true
uv.lock linguist-generated=true
