# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Libraries installed for python
site-packages/

# Binary and intermediate files from VS projects amongst others
bin/
obj/

# Ignore source data extracted from games or from other repositories
/source/
/scripts/source/
*.bak

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
