# Ignore artifacts
dist/
# Ignore anything in the public directory, which is expected to be delivered as-is.
public/

# Ignore the css directory (since it's mostly CSS provided by 3rd-party plugins)
# except for main.css
web_src/css/*
!web_src/css/main.css

# Don't reformat data files, YAML files, or Markdown
*.json
*.yaml
*.yml
*.md
