path {
  opacity: 100%;
  fill-opacity: 100%;
  filter: brightness(100%);
}
path.found {
  opacity: 50%;
  fill-opacity: 50%;
  filter: brightness(100%);
}

path[alt=''] {
  opacity: 100%;
}

/* Jumppad line drawing */
.line-jumppad {
  --arrow: tip; /* Can be 'tip', 'mid', 'none' */
  --arrow-size: 3px; /* Arrow head size, if not set no arrow drawn, only used for long one way lines */
  --arrow-angle: 45; /* Angle arrow pointer will be drawn with */
  --line-width: 5px; /* Width of the basic line */
  --shadow-width: 3px; /* Width of shadow border (also stroke-width) */
  --offset: 0px; /* How far along line should first arrow appear, pixels also ok */
  --end-offset: 0px; /* How far from end should last arrow appear */

  opacity: 100%;
  fill-opacity: 100%;
}
.line-jumppad.red {
  stroke: #000;
  fill: #f00; /* inherited by arrow */
}

.line-jumppad.red,
.jumppad-red-x1 {
  opacity: 30%;
  fill-opacity: 30%;
  filter: brightness(100%);
}
.line-jumppad.red.found,
.jumppad-red-x1.found {
  opacity: 100%;
  fill-opacity: 100%;
  filter: brightness(100%);
}

.line-jumppad.blue {
  stroke: #000;
  fill: #1e90ff; /* inherited by arrow */
}

.line-jumppad.blue,
.jumppad-blue-x1 {
  opacity: 30%;
  fill-opacity: 30%;
  filter: brightness(100%);
}
.line-jumppad.blue.found,
.jumppad-blue-x1.found {
  opacity: 100%;
  fill-opacity: 100%;
  filter: brightness(100%);
}

.line-pipe {
  --arrow: tip;
  --arrow-size: 3px;
  --arrow-angle: 45;
  --line-width: 5px;
  --shadow-width: 3px;
  --offset: 16px;
  --end-offset: 16px;

  fill: #4dff00;
  fill-opacity: 100%;
  stroke: #000;
  opacity: 100%;
}

.line-pipe,
.pipe-x1 {
  opacity: 30%;
  fill-opacity: 30%;
  filter: brightness(100%);
}
.line-pipe.found,
.pipe-x1.found {
  opacity: 100%;
  fill-opacity: 100%;
  filter: brightness(100%);
}

.line-target {
  --arrow: tip;
  --arrow-size: 1px;
  --arrow-angle: 40;
  --line-width: 3px;
  --shadow-width: 1px;
  --offset: 16px;
  --end-offset: 16px;

  fill: #ffffff;
  fill-opacity: 100%;
  stroke: #000;
  opacity: 100%;
}

.line-trigger {
  --arrow: tip;
  --arrow-size: 1px;
  --arrow-angle: 40;
  --line-width: 2px;
  --shadow-width: 0px;
  --offset: 0;
  --end-offset: 16px;

  fill: #fff;
  fill-opacity: 100%;
  stroke: #000;
  opacity: 100%;
}
